.page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 540px;
    width: 100%;

    text-align: center;
}

.preview {
    justify-content: left;
}

.button {
    margin-top: 10px;

}

.title {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;

    margin-top: 10px;

    text-align: left;
}

.description {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 193.9%;

    margin-top: 10px;

    text-align: left;
}