.page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 540px;
    width: 100%;

    text-align: center;
}

.preview {

}

.title {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;


}

.description {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 193.9%;


}