.btn  {
    padding: 12px 89px;

    color: black;
    background-color: rgba(0, 0, 0, 0.0);

    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 193.9%;

    border: solid 2px black;
    border-radius: 10px;
    box-sizing: border-box;
}