.textarea {
    padding-left: 10px;
    padding-top: 10px;

    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}

textarea {
    border: none;
    outline: none;
    resize: vertical;
}