.wrapper {
  padding: 4% 12%;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  height: 343px;
}

.wrapper .plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 0;
  transition: all 0.3s;
}

.wrapper:hover .plus {
  opacity: 1;
  transition: all 0.3s;
  transition-delay: 0.1s;
}

.wrapper:hover .firstLine {
  transform: translateY(-50px);
  transition: all 0.3s;
}

.wrapper:hover .secondLine {
  transform: translateY(35px);
  transition: all 0.3s;
}

.firstLine {
  position: relative;
  white-space: nowrap;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  transition: all 0.3s;
  transition-delay: 0.1s;
}

.secondLine {
  position: relative;
  white-space: nowrap;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 193.9%;
  transition: all 0.3s;
  transition-delay: 0.1s;
}
