.page {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 635px;
    width: 100%;

    text-align: center;
}

.btnWrapper {
    margin-top: 90px;
}