.page {

    display: flex;
    flex-direction: column;
    margin-left: 120px;

}

.content {
    display: flex;
    justify-content: left;
    text-align: left;
}

.title {
    width: 250px;
}

.input {
    width: 635px;
}

.inputTextArea textarea {
    width: 1200px;
    height: 500px;

    padding-left: 10px;
    padding-top: 10px;
    border-radius: 10px;
}

.buttonBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 1200px;
    margin-top: 30px;
    margin-bottom: 30px;
}
