.page {
    display: flex;
    flex-direction: column;
    margin-left: 120px;

    justify-content: left;
}

.content {
    display: flex;

    text-align: left;
}

.title {
    width: 250px;
}

.input {
    width: 635px;
}

.inputTextArea textarea {
    width: 1200px;
    height: 500px;

    border-radius: 10px;
}

.button {
    margin-top: 30px;
}